# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly ensure bash scripts and python files use LF
*.sh text eol=lf
*.py text eol=lf
*.tf text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.ico binary
